* {
  box-sizing: border-box;
}

:root {
  --red-color:#fe2700;
  --orange-color:#ff8200;
  --sand-color:#fda738;
  --brown-color:#7e0901;
  --browsn2-color:#654132;
  --gray-color:#464748;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
