.card{
    background-color: rgba(245, 245, 245, 0.3) !important;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    height: 9rem;
    font-family: "Helvetica","Arial","sans-serif" !important;
    border-radius: 28px;
    margin-bottom: 1px;
}


.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

.card-title{
    margin-top: 1rem;
    color: #464748;
}

.card-text{
    color: #464748;
    /*font-size: 1.5rem;*/
}
