* {
    box-sizing: border-box;
}

.flex-container-footer {
    display: flex;
    flex-direction: row;
    font-size: 5px;
    text-align: center;
    color: lightslategray;
    border-top: 1px solid #00A1F1;
}

.footer-col-1{
    padding: 10px;
    flex: 30%;
}

.footer-col-2{
    padding: 10px;
    flex: 30%;
}

.footer-col-3{
    padding: 10px;
    flex: 30%;
    text-align: center !important;
}

.text-md-left {
    font-size: 3em;
}

.text-md-right {
    font-size: 3em;
}

.middle {
    font-size: 3em;
}

footer {
    /*background-color: pink;*/
}
